/* ! FOOTER ! RODAPÉ ! */

.footer {
  background: #0b0b1a; /* fundo escuro */
  padding: 1px; /* espaço interno */
  text-align: center; /* centraliza tudo */
  border-top: 1px solid rgba(255, 255, 255, 0.1); /* linha superior */
}

.logoFooter {
  font-size: 24px;
  height: 40px; /* controla o tamanho da logo */
  padding: 20px;
}

.footerConteudo {
  max-width: 800px; /* limita largura */
  margin: 0 auto; /* centraliza */
  display: flex; /* coloca os elementos lado a lado */
  justify-content: space-between; /* distribui espaço */
  align-items: center; /* alinha verticalmente */
  padding: 40px;
}

/* COPYRIGHT */
.footer-copy {
  color: #777; /* mais discreto */
  font-size: 14px;
  gap: 6px;
}

.social {
  display: flex; /* deixa os ícones lado a lado */
  gap: 35px; /* espaço entre eles */
}

.social img {
  height: 35px; /* tamanho dos ícones */
  cursor: pointer; /* cursor de clique */
  transition: 0.3s;
}

.social img:hover {
  transform: scale(1.1); /* leve aumento ao passar o mouse */
}

@media (max-width: 768px) {

  .footerConteudo {
    flex-direction: column;
  }

}