* {
  box-sizing: border-box; /* evita quebra de layout */
}
/* ! HEADER ! CABEÇALHO !*/
header {
  margin: auto;
}
/* NAVBAR */
.navMenu {
  display: flex; /* alinhamento */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; /* alinha horizontal */
  align-items: center; /* alinha vertical */
  padding: 20px 60px;
  margin: 0 auto;
  max-width: auto;
  background: linear-gradient(90deg, #140042 0%,#140128 50%,#05254e 100% );
}

/* LOGO / Imagem DeepVision */
.logo {
  color: #b870ff;
  width: 160px; /* LARGURA */
  height: auto; /* ALTURA */
}

/* .menu é a classe da tag "ul" que está dentro das tags "header" e "nav" */
/* MENU / Inicio - Sobre - Projetos - Equipe - Contato*/
.menu {
  display: flex; /* deixa links lado a lado */
  gap: 30px; /* espaço entre eles (links) */
  list-style: none; /* remove bolinhas de tópico da frente do "li"/links */
  padding: 0;
}

/* LINKS */
.menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

/* Dentro do :hover as ações só acontecem ao passar o mouse por cima */
/* :hover é o estado dp elemento */
.menu a:hover {
  color: #9c3cfb;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.btnCadastro {
  /* LARGURA */
  width: 200px;
  /* ALTURA */
  height: 50px;

  text-decoration: none; /* REMOVE sublinhado do link */
  text-align: center;
  display: flex;

  /* align-itens e justify-content colocou o texto exatamente no centro do botão */
  align-items: center;
  justify-content: center;

  border: 1px solid #9c3cfb;
  border-radius: 30px;
  color: #9c3cfb;
  background: transparent;
  /* background: linear-gradient(90deg, #140128, #140042, #32065d); */
  cursor: pointer;
  font-weight: bold;
}

/* HOVER */
.btnCadastro:hover {
  background: #9c3cfb;
  color: white;
}

/* AGRUPA LOGIN + CADASTRO */
.login-cadastro-grupo {
  display: flex; /* coloca lado a lado */
}

/*  */

/* MODAL é uma janela temporária (Ex: Login e Cadatro) que impede o usuário de interagir com a página enquanto não tomar uma ação*/
/* FUNDO ESCURO (overlay) */
.modal {
  display: none; /* começa escondido */
}

#cadastro:target {
  display: block;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.75); /* escurece fundo */
  backdrop-filter: blur(5px); /* leve blur */
}

/* Possível inserção de Java Script futuramente. */
/* CAIXA DO MODAL */
.cad {
  margin: 10px;
  width: 85%;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 320px;
  padding: 25px;

  /* Fundo da janela de CADASTRO */
  background: linear-gradient(145deg, #140042, #2d013e);

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* TÍTULO */
.modal-content h2 {
  margin: 0;
  text-align: center;
  color: white;
}

/* INPUTS */
.modal-content input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  background: rgba(165, 0, 0, 0.05);
  color: white;

  outline: none;
  transition: 0.2s;
}

/* FOCO */
.modal-content input:focus {
  border-color: #9c3cfb;
  box-shadow: 0 0 8px rgba(156, 60, 251, 0.5);
}

/* BOTÃO */
.modal-content .btn {
  width: 100%; /* ocupa toda largura */
  height: 45px;
  margin-top: 20px;
}

/* BOTÃO FECHAR */
.close {
  position: absolute;
  top: 10px;
  right: 15px;

  font-size: 22px;
  text-decoration: none;
  color: white;
  cursor: pointer;

  transition: 0.2s;
}

/* HOVER FECHAR */
.close:hover {
  color: #9c3cfb;
}

.obs {
  background: #2d013e;
  resize: none;
  margin-right: 15px;
  /* width: %; */
}