/* ! HEADER ! CABEÇALHO !*/
/* NAVBAR */
.navMenu {
  display: flex; /* coloca tudo em linha */
  justify-content: space-between; /* logo esquerda, menu direita */
  align-items: center; /* alinha vertical */
  padding: 20px 60px;
  border-bottom: 0.5px solid #9c3cfb;

  background: linear-gradient(
    90deg,
    /* ângulo horizontal */ #140042 0%,
    /* início */ #140128 50%,
    /* meio (roxo destaque) */ #021124 100% /* fim (azul) */
  );
}

/* LOGO / Imagem DeepVision */
.logo {
  color: #b870ff;
  font-size: 24px;
  height: 40px; /* controla o tamanho da logo */
}

/* .menu é a classe da tag "ul" que está dentro das tags "header" e "nav" */
/* MENU / Inicio - Sobre - Projetos - Equipe - Contato*/
.menu {
  display: flex; /* deixa links lado a lado */
  gap: 30px; /* espaço entre eles (links) */
  list-style: none; /* remove bolinhas de tópico da frente do "li"/links */
}

/* LINKS */
.menu a {
  text-decoration:none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

/* Dentro do :hover as ações só acontecem ao passar o mouse por cima */
.menu a:hover {
  color: #9c3cfb;
  text-decoration:underline;
  text-underline-offset: 16px;
}

/* MAIN SECTION "HEADER" */

#format {
  color: rgb(85, 5, 214);
}

.downHeader {
  color: azure;
  background-image: url(/CSS/backgroundHeader.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 135px;
  font-size: 28px;
}

.btn {
  width: 200px; /* largura fixa (padroniza todos) */
  height: 50px; /* altura fixa */

  display: inline-flex; /* permite centralizar conteúdo */
  justify-content: center; /* centraliza horizontal */
  align-items: center; /* centraliza vertical */

  size: 30px;
  background-color: #32065d;
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border-color: #9c3cfb;
  border: none;
}

.btn:hover {
  /* "color" indica a cor do texto dentro do botão. */
  color: #fff;
  /* "transform" aumenta ou diminui o tamanho do botão ao posicionar seta em cima. scale(1) é o padrão e não altera nada! */
  transform: scale(0.9);
  /* "box-shadow" acrescenta uma sombra estilizada ao botão. */
  box-shadow: 0 8px 16px rgba(8, 0, 13, 0.5);
}


/* HOVER */

.btnCadastro {
  width: 100px;
  height: 40px;

  /* Está impedindo o botao cadastro de aumentar */
  box-sizing: border-box;

  text-decoration: none; /* REMOVE sublinhado do link */
  text-align: center;
  display: inline-flex; /* permite centralizar conteúdo */

  /* align-itens colocou o texto exatamente no centro do botão */
  align-items: center;
  justify-content: center; /* centraliza horizontal */

  border: 1px solid #9c3cfb;
  border-radius: 2px;
  color: #9c3cfb;
  background:linear-gradient(90deg,#140128, #140042, #32065d);
  cursor: pointer;
}

/* HOVER */
.btnCadastro:hover {
  background: #9c3cfb;
  color: white;
}

/* AGRUPA LOGIN + CADASTRO */
.login-cadastro-grupo {
  display: flex; /* coloca lado a lado */
  gap: 10px; /* espaço entre os botões */
}

/*  */

/* MODAL é uma janela temporária (Ex: Login e Cadatro) que impede o usuário de interagir com a página enquanto não tomar uma ação*/
/* FUNDO ESCURO (overlay) */
.modal {
  display: none; /* começa escondido */
}

#cadastro:target {
  display: block;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.75); /* escurece fundo */
  backdrop-filter: blur(5px); /* leve blur */
}

/* Possível inserção de Java Script futuramente. */
/* CAIXA DO MODAL */
.cad {
  margin: 10px;
  width: 85%;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 320px;
  padding: 25px;

  /* Fundo da janela de CADASTRO */
  background: linear-gradient(145deg, #140042, #2d013e);

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* TÍTULO */
.modal-content h2 {
  margin: 0;
  text-align: center;
  color: white;
}

/* INPUTS */
.modal-content input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  background: rgba(165, 0, 0, 0.05);
  color: white;

  outline: none;
  transition: 0.2s;

}

/* FOCO */
.modal-content input:focus {
  border-color: #9c3cfb;
  box-shadow: 0 0 8px rgba(156, 60, 251, 0.5);
}

/* BOTÃO */
.modal-content .btn {
  width: 100%; /* ocupa toda largura */
  height: 45px;
  margin-top: 20px;
}

/* BOTÃO FECHAR */
.close {
  position: absolute;
  top: 10px;
  right: 15px;

  font-size: 22px;
  text-decoration: none;
  color: white;
  cursor: pointer;

  transition: 0.2s;
}

/* HOVER FECHAR */
.close:hover {
  color: #9c3cfb;
}

.obs{
margin: 10px;
width: 91%;
border-radius: 5px;
background: #2d013e;
resize: none;
border: 1px solid #4B3364;
/* width: %; */
transition: 0.1s;
outline: 0;
}

.obs:focus {
  border-color: #9c3cfb;
  box-shadow: 0 0 8px rgba(156, 60, 251, 0.5);
}
/* ! ACIMA APENAS HEADER / CABEÇALHO (FECHADO) ! */